<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.retain"
      android:versionCode="3"
      android:versionName="1.6"
      android:installLocation="auto">
      
    <supports-screens android:anyDensity="true" />

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    android:debuggable="true" android:theme="@style/TitleTheme">
        <activity android:name=".RetainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
		<activity android:name=".WebViewActivity" android:theme="@style/TitleThemeThin" 
		android:configChanges="keyboardHidden|orientation"
		/>
		<activity android:name=".SettingsManager" android:label="@string/prefs_name" />
		<activity android:name=".HelpActivity" />
		
		<activity android:name=".DownloaderActivity"
                  android:label="@string/app_name"
                  android:launchMode="standard">
						
            <intent-filter>
             
	            <action android:name="android.intent.action.SEND" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="text/plain" />
	          
        	</intent-filter>		

		</activity>
		<!--
		<activity android:name=".DownloaderActivityProxy"
                  android:label="@string/app_name"
                  android:launchMode="standard">
				
            <intent-filter>
	    		<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
        	</intent-filter>			
        		
		</activity>		
		-->
		<receiver android:name=".SmsIntentReceiver" android:enabled="true">
	      <intent-filter>
	        <action android:name=
	          "android.provider.Telephony.SMS_RECEIVED" />
	      </intent-filter>
	  	</receiver>		
		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" ></uses-permission>
    <uses-sdk android:minSdkVersion="1" android:targetSdkVersion="4"/>

</manifest> 